<!-- header
   ================================================== -->
<header id="main-header">

  <div class="row">

    <div class="logo">
      <a>Kreo</a>
    </div>

    <nav id="nav-wrap">

      <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class="menu-icon">Menu</span>
	         </a>
      <a class="mobile-btn" href="#" title="Hide navigation">
         		<span class="menu-icon">Menu</span>
         	</a>

      <ul id="nav" class="nav">
        <li><a class="smoothscroll" href="#hero">Home.</a></li>
        <li class="current"><a class="smoothscroll" href="#products">Products.</a></li>
        <li><a class="smoothscroll" href="#services">Services.</a></li>
        <li><a class="smoothscroll" href="#about">About.</a></li>
        <li><a class="smoothscroll" href="#contact">Contact.</a></li>
      </ul>
      <!-- end #nav -->

    </nav>
    <!-- end #nav-wrap -->
  </div>

</header>
<!-- end header -->


<!-- homepage hero
   ================================================== -->
<section id="hero">

  <div class="row hero-content">

    <div class="twelve columns hero-container">

      <!-- hero-slider start-->
      <div id="hero-slider" class="flexslider">

        <ul class="slides">

          <!-- slide -->
          <li>
            <div class="flex-caption">
              <h1 class="">We Are Southern Petroleum Resources. We offer fueling solutions worldwide.
								</h1>

              <h3 class="">With a large product catalog, we are your one-stop shop for fueling solutions.</h3>
            </div>
          </li>

          <!-- slide -->
          <li>
            <div class="flex-caption">
              <h1 class="">We offer fuel in a package that is unrefusable</h1>

              <h3 class="">We offer all major grades of unleaded gasoline, ultra-low sulfur, dyed diesel fuels, jet fuels, biodiesel fuels and additives.</h3>
            </div>
          </li>

          <!-- slide -->
          <li>
            <div class="flex-caption">
              <h1 class="">Take a look at some of <a class="smoothscroll" href="#products" title="products" >our products</a> or
								<a class="smoothscroll" href="#contact" title="contact us">get in touch</a> to discuss how we can help you.</h1>

              <h3 class="">You can rely on SPR for competitive prices, on-time-delivery, product knowledge, technical support and a robust distribution network.</h3>
            </div>
          </li>

        </ul>

      </div>
      <!-- end hero-slider -->

    </div>
    <!-- end twelve columns-->

  </div>
  <!-- end row -->

  <div id="more">
    <a class="smoothscroll" href="#services">More About Us<i class="fa fa-angle-down"></i></a>
  </div>

</section>
<!-- end homepage hero -->


<!-- products
   ================================================== -->
<section id="products">

  <div class="row section-head">

    <div class="twelve columns">

      <h1>Our Products<span>.</span></h1>

      <hr />

      <p>

        Fuel supply is scrutinized on a daily basis, and you need a distributor who is knowledgeable, consistent, competitive, honest, and someone you can trust. Southern Petroleum Resources can custom fit your needs and fulfill your requirements with
        top-notch service and skills. Our full service specializes in product, pricing, and delivery to bring to you the most cost effective fuel and the best service in the industry.
      </p>

    </div>

  </div>
  <!-- end section-head -->
  <div class="row mobile-no-padding">

    <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">

      <div class="bgrid">

        <h3>Biodiesel Fuels</h3>

        <div class="service-content">
          <ul>
            <li>B99 - Straight Ethanol</li>
            <li>E85 - 85% Ethanol</li>
            <li>B5 – 5% Biodiesel / 95% Diesel</li>
            <li>B20 – 20% Biodiesel</li>
            <li>B98 – Pure Ethanol</li>
          </ul>
        </div>

      </div>
      <!-- end bgrid -->

      <div class="bgrid">

        <h3>Diesel Fuels</h3>

        <div class="service-content">

          <ul>
            <li>Ultra Low Sulfur Diesel</li>
            <li>Red Dye Diesel</li>
          </ul>

        </div>

      </div>
      <!-- end bgrid -->

      <div class="bgrid">

        <h3>Aviation Jet Fuel</h3>

        <div class="service-content">
          <ul>
            <li></li>
          </ul>
        </div>

      </div>
      <!-- end bgrid -->

      <div class="bgrid">

        <h3>Gasoline.</h3>

        <div class="service-content">
          <ul>
            <li>87 Grade</li>
            <li>93 Grade</li>
          </ul>
        </div>

      </div>
      <!-- end bgrid -->

      <div class="bgrid">

        <h3>Lubricants and Oils</h3>

        <div class="service-content">
          <ul>
            <li>Winter</li>
            <li># 1270 Winterized Power Stroker</li>
            <li># 1285 Flo-Max Starter</li>
            <li># 1285D Flo-Max De-Icer (Quarts)</li>
          </ul>
        </div>

      </div>
      <!-- end bgrid -->

      <div class="bgrid">

        <h3>Construction Agents</h3>

        <div class="service-content">
          <ul>
            <li>Biodegradable Release Agent</li>
          </ul>
        </div>

      </div>
      <!-- end bgrid -->

    </div>
    <!-- end service-list -->

  </div>
  <!-- end row -->
</section>
<!-- end products -->


<!-- Services Section
   ================================================== -->
<section id="services">

  <div class="row section-head">

    <div class="twelve columns">

      <h1>Our Awesome Services<span>.</span></h1>

      <hr />

      <p>Southern Petroleum Resources, (SPR) is dedicated to the growth and success of our business and to the service and product we provide to our customers to support the success of their business.  Each of our team members are qualified and committed to the success of the company; and to the service to our customers. We provide competitive fuel services that help to cut your cost and broaden your purchase options. As a customer you will receive the attention of our experienced and knowledgeable staff; to include professional, prompt responses.
      </p>

    </div>

  </div>
  <!-- end section-head -->

  <div class="row mobile-no-padding">

    <div class="service-list process bgrid-half tab-bgrid-whole group">

      <div class="bgrid">

        <h3>Areas of focus regarding Fuel:</h3>

        <div class="service-content">
          <ul>
            <li>Spot & Contract Delivery</li>
            <li>Multi-state Service & Supply</li>
            <li>Emergency Fueling Solutions</li>
            <li>Index Pricing</li>
            <li>Mobile Fueling</li>
          </ul>
        </div>

      </div>
      <!-- end bgrid -->

      <div class="bgrid">

        <h3>Fields of Expertise:</h3>

        <div class="service-content">
          <ul>
            <li>Fuel Management</li>
            <li>Carrier Logistics</li>
            <li>Risk Management and Sustainability</li>
          </ul>
        </div>

      </div>
      <!-- end bgrid -->

    </div>
    <!-- end service-list -->

  </div>
  <!-- end row -->

</section>
<!-- end services -->


<!-- About Section
   ================================================== -->
<section id="about">

  <div class="row section-head">

    <div class="twelve columns">

      <h1>Who Are We<span>.</span></h1>

      <hr />

      <p>Founded in 2012, Southern Petroleum Resources (SPR), LLC is a bulk fuel wholesaler located in Atlanta, Georgia.  Every day we supply fueling solutions to customers and industry markets that rely on our services.  We offer all major grades of unleaded gasoline, ultra-low sulfur, dyed diesel fuels, jet fuels, biodiesel fuels and additives.
      </p>
      <p>You can rely on SPR for competitive prices, on-time-delivery, product knowledge, technical support and a robust distribution network. We deliver a seamless supply chain between the refiners/suppliers and the marketer, industry and commercial end users.  We secure our clients best interest by delivering quality products and services and by providing innovative solutions.</p>

    </div>
    <!-- end section-head -->

  </div>

  <div id="call-to-action">

    <div class="row section-ads">

      <div class="twelve columns">

        <h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost<span>.</span></a></h2>

        <p>
          Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>. Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
          <!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->
        </p>

        <div class="action">
          <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
        </div>

      </div>

    </div>
    <!-- end section-ads -->

  </div>
  <!-- end call-to-action -->

</section>
<!-- end about -->


<!-- Testimonials Section
   ================================================== -->
<section id="testimonials">

  <div class="row content flex-container">

    <div id="testimonial-slider" class="flexslider">

      <ul class="slides">
        <li>
          <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't
            settle. As with all matters of the heart, you'll know when you find it.
          </p>

          <div class="testimonial-author">
            <img src="images/avatars/avatar-1.jpg" alt="Author image">
            <div class="author-info">
              Steve Jobs
              <span class="position">CEO, Apple.</span>
            </div>
          </div>
        </li>
        <!-- end slide -->

        <li>
          <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
            a sit amet mauris.
          </p>
          <div class="testimonial-author">
            <img src="images/avatars/avatar-2.jpg" alt="Author image">
            <div class="author-info">
              John Doe
              <span>CEO, ABC Corp.</span>
            </div>
          </div>
        </li>
        <!-- end slide -->

      </ul>
      <!-- end slides -->

    </div>
    <!-- end flexslider -->

  </div>
  <!-- end row -->

</section>
<!-- end testimonials section -->


<!-- contact
   ================================================== -->
<section id="contact">

  <div class="row section-head">

    <div class="twelve columns">

      <h1>Get In Touch With Us<span>.</span></h1>

      <hr />

    </div>

  </div>
  <!-- end section-head -->

  <div class="row">

    <div id="contact-form" class="six columns tab-whole left">

      <!-- form -->
      <form name="contactForm" id="contactForm" method="post" action="">
        <fieldset>

          <div class="group">
            <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minLength="2" required />
          </div>
          <div>
            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required />
          </div>
          <div>
            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" />
          </div>
          <div>
            <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required></textarea>
          </div>
          <div>
            <button class="submitform">Submit</button>
            <div id="submit-loader">
              <div class="text-loader">Sending...</div>
              <div class="s-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
      <!-- Form End -->

      <!-- contact-warning -->
      <div id="message-warning"></div>
      <!-- contact-success -->
      <div id="message-success">
        <i class="icon-ok"></i>Your message was sent, thank you!<br />
      </div>

    </div>

    <div class="six columns tab-whole right">

      <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

        <h3 class="address">Come Visit</h3>

        <p>
          201 17th Street<br>3rd Floor<br> Atlanta, GA<br> 30363 US
        </p>

        <h3>Contact Numbers:</h3>
        <p>T: 1-800-631-6750<br> F: 404-464-0844</p>
        <h3>Email:</h3>
        <p>info@southernpetroleumresources.com</p>

    </div>

  </div>
  <!-- end row -->

</section>
<!-- end contact -->


<!-- Footer
   ================================================== -->
<footer>

  <div class="row">

    <div class="twelve columns content group">
      <div class="info">
        <div class="footer-logo"></div>

        <p>Sales and Marketing Office <br>201 17th Street <br>3rd Floor <br>Atlanta, GA 30363</p>

      </div>

    </div>

    <ul class="copyright">
      <li>&copy; Copyright 2017 Southern Petroleum Resources.</li>
    </ul>

    <div id="go-top">
      <a class="smoothscroll" title="Back to Top" href="#hero">Back to Top<i class="fa fa-angle-up"></i></a>
    </div>

  </div>
  <!-- end row -->

</footer>
<!-- end footer -->

<div id="preloader">
  <div id="loader"></div>
</div>
